@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Core.Models.PublishedContent
@using Umbraco.Web


@*
    This snippet lists the items from a Multinode tree picker, using the picker's default settings.
    Content Values stored as XML.

    To get it working with any site's data structure, set the selection equal to the property which has the
    multinode treepicker (so: replace "PropertyWithPicker" with the alias of your property).
*@

@{
    //var selection = Model.Content.Value<IEnumerable<IPublishedContent>>("PropertyWithPicker").ToArray();
    var selection = Model.Content.Properties.ToArray();
    var values = Model.MacroParameters.Values;
    var keys = Model.MacroParameters.Keys;
    //dynamic properties;
    //properties = Model.MacroParameters.First().Value.TryConvertTo<IEnumerable<String>>().Result;
}

<p>@Model.MacroParameters.ToString() </p>

@if (selection.Length > 0)
{
    <ul>
        @foreach (var item in values)
        {
            <li>
                <p>@item.ToString()</p>
                <p>@item.GetType().ToString() </p>
            </li>
        }
    </ul>
}

@if (selection.Length > 0)
{
    <ul>
        @foreach (var item in keys)
        {
            <li>
                <p>@item.ToString()</p>
                <p>@item.GetType().ToString() </p>
            </li>
        }
    </ul>
}

@*@if (selection.Length > 0)
{
    <ul>
        @foreach (var item in properties)
        {
            <li>
                <p>@item.ToString()</p>
                <p>@item.GetType().ToString() </p>
            </li>
        }
    </ul>
}*@