@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Core.Models.PublishedContent
@using Umbraco.Web
@using Umbraco.Core
@using ClientDependency.Core
@using ClientDependency.Core.Mvc
@using Umbraco.Core.Composing
@using Umbraco.Core.IO
@using Umbraco.Web
@using Umbraco.Core.Configuration

@{
    int i = 0;
    String style;
}

<button type="button" id="collapseButton" class="btn btn-info" data-toggle="collapse" data-target="#content">Simple collapsible</button>
<div id="content" class="collapse">
    <div id="tableContainer">
        @if (@Model.Content != null && Model.AlignLeft)
        {
            <input type="text" id="myInput" content="\e003" onkeyup="myFunction()" placeholder="Search by @Model.Headers.First().ToLower()" title="Type in a @Model.Headers.First().ToLower() to search">
            style = "";
        }
        else
        {
            style = "style=\"text-align:center;\"";
        }
        <h1>@Model.Caption</h1>
        <table class="table table-hover" id="myTable">
            @if (@Model.Description != null)
            {
                <caption id="caption">@Model.Description</caption>
            }
            <thead>
                <tr>
                    @foreach (var header in Model.Headers)
                    {
                        @*<th scope="col" onclick="sortTable(@i)">@header</th>*@
                        @Html.Raw("<th " + style + " scope=\"col\" onclick=\"sortTable(" + @i + ")\">" + @header + "<span class=\"caret\"></span>" + "</th>")
                        i++;
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Content)
                {
                    <tr>
                        @Html.Raw("<th " + style + " scope=\"row\">" + @item.First() + "</th>")

                        @foreach (var value in item.Skip(1))
                        {
                            @Html.Raw("<td>" + @value + "</td>")
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
